body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height:100vh;
}

.container {
    width: 50vw;
    height: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

[class^="cell"]{
    border: 3px dotted pink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.status {
    font-family: monospace;
}

.win {
    background-color: #FFCA2C;
}

